/*secondary logo svg patch*/
.secondary-logo {
  height: 55px !important;
  margin-top: 14px;
}

.row.expanded {
  max-width: none !important;
}

@media only screen and (max-width: 740px) {
  .secondary-logo {
	margin-top: 0;
  }
}

/*remove dropdown nav box shadow*/

//legacy on-page h1 style
//.showcase-html-section h1 {
  //color: #492365;
  //font-family: 'tradegothicltstd-boldext', sans-serif;
  //margin: 1em;
  //text-align: center;
  //font-size: 2rem;
//}

.page-title {
  color: #492365 !important;
  font-family: 'tradegothicltstd-boldext', sans-serif !important;
  margin: 1em;
  text-align: center;
  font-size: 2rem !important;
}

.showcase-html-section {
  padding-top:0;
}

.fullwidth, .-fullwidth, .stretchbox, .-stretchbox, .banner {
  width: 100%;
}

.offscreen, .-offscreen {
  position: absolute;
  left: -10000px;
}

.clearfix {
  clear: both;
}

.centered-text, .-centered-text, .text-center, .-text-center {
  text-align: center;
}

.hidden, .-hidden {
  display: none;
}
