/*secondary logo svg patch*/
.secondary-logo[src$=".svg"] {
  height: 55px !important;
  margin-top: 14px;
  @media only screen and (max-width: 740px) {
    margin-top: 0;
  }
}

.row.expanded {
  max-width: none !important;
}

.page-title.title-override {
  color: wsu-palette($wcpurp-colors, 1);
  font-family: 'tradegothicltstd-boldext', sans-serif;
  margin: 1em;
  text-align: center;
  font-size: 2rem;
}

.showcase-html-section {
  padding-top:0;
}

.fullwidth, .-fullwidth, .stretchbox, .-stretchbox, .banner {
  width: 100%;
}

.offscreen, .-offscreen {
  position: absolute;
  left: -10000px;
}

.clearfix {
  clear: both;
}

.centered-text, .-centered-text, .text-center, .-text-center {
  text-align: center;
}

.hidden, .-hidden {
  display: none;
}
