/*section padding*/
section.padded-half, .section.padded-half {
  padding: $padded-half;
}
section.padded-half-even, .section.padded-half-even {
  padding: $padded-half-even;
}
section.padded-full, .section.padded-full {
  padding: $padded-full;
}
section.padded-full-even, .section.padded-full-even {
  padding: $padded-full-even;
}
section.padded-extreme, .section.padded-extreme {
  padding: $padded-extreme;
}
section.padded-extreme-even, .section.padded-extreme-even {
  padding: $padded-extreme-even;
}


/*verticle spacers*/
section.spacer, .section.spacer {
  height: 200px;
}
section.spacer-half, .section.spacer-half {
  height: 100px;
}
section.spacer-quarter, .section.spacer-quarter {
  height: 50px;
}

section.text-width-limit {
  max-width: $max-char-constraint-width;
  margin: 0 auto;
}


/*colored background insets, usually lightest shade on each palette color*/
.inset {
  background-color: #e8e8e8;
}
section.inset, .section.inset {
  padding: 4em .9em 2em;
  background-color: #e8e8e8;
}
section.inset-csbs, .section.inset-csbs {
  padding: 4em .9em 2em;
  background-color: rgb(229,239,241);
}
section.inset-dumke, .section.inset-dumke {
  padding: 4em .9em 2em;
  background-color: rgb(229,244,236);
}
section.inset-cos, section.inset-cos {
  padding: 4em .9em 2em;
  background-color: rgb(254,247,232);
}
section.inset-east, .section.inset-east {
  padding: 4em .9em 2em;
  background-color: rgb(250,238,231);
}
section.inset-lind, .section.inset-lind {
  padding: 4em .9em 2em;
  background-color: rgb(233,250,251);
}
section.inset-godd, .section.inset-godd {
  padding: 4em .9em 2em;
  background-color: rgb(236,235,233);
}
section.inset-moyes, .section.inset-moyes {
  padding: 4em .9em 2em;
  background-color: rgb(246, 251,238);
}
section.inset-purp, .section.inset-purp {
  padding: 4em .9em 2em;
  background-color: rgb(236,233,239);
}