.sizeup1-3 {
  font-size: 1.3em;
}

.sizeup1-5 {
  font-size: 1.5em;
}

.sizeup1-7 {
  font-size: 1.7em;
}

.sizeup2-0 {
  font-size: 2em;
}

.sizeup2-3 {
  font-size: 2.3em;
}

.sizeup2-5 {
  font-size: 2.5em;
}

.sizeup2-7 {
  font-size: 2.7em;
}

.sizeup3-0 {
  font-size: 3em;
}

.sizeup3-3 {
  font-size: 3.3em;
}

.sizeup3-5 {
  font-size: 3.5em;
}

.sizeup3-7 {
  font-size: 3.7em;
}

.sizeup4-0 {
  font-size: 4em;
}

.sizeup4-3 {
  font-size: 4.3em;
}

.sizeup4-5 {
  font-size: 4.5em;
}

.sizeup4-7 {
  font-size: 4.7em;
}

.sizeup5-0 {
  font-size: 5em;
}

.sizeup5-3 {
  font-size: 5.3em;
}

.sizeup5-5 {
  font-size: 5.5em;
}

.sizeup5-7 {
  font-size: 5.7em;
}

.sizeup6-0 {
  font-size: 6em;
}

.sizeup6-3 {
  font-size: 6.3em;
}

.sizeup6-5 {
  font-size: 6.5em;
}

.sizeup6-7 {
  font-size: 6.7em;
}

.sizeup7-0 {
  font-size: 7em;
}


.to-uppercase {
  text-transform: uppercase;
}

.to-lowercase {
  text-transform: none;
}

.tgb-text {
  font-family: $font-tgb;
  font-size: 1.2em;
}