/*section padding*/
section.padded-half {
  padding: $padded-half;
}
section.padded-half-even {
  padding: $padded-half-even;
}
section.padded-full {
  padding: $padded-full;
}
section.padded-full-even {
  padding: $padded-full-even;
}
section.padded-extreme {
  padding: $padded-extreme;
}
section.padded-extreme-even {
  padding: $padded-extreme-even;
}

/*test*/