@mixin bg-img($url) {
  background-image: url($url);
}

@mixin bg-img-2x($url) {
  @media only screen and (min-width: 1024px) and (min-resolution: 192dpi) {
    background-image: url(img-res-double($url));
  }
}

//start with the url for the '1x' version of the image
@mixin bg-interchange-retina($url) {
  @include bg-img($url);
  @include bg-img-2x($url);
}

@mixin bg-img-placement($pos-x, $pos-y) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: $pos-x $pos-y;
}

// flex utilities-master-block
@mixin flex-row($align, $justify) {
  display: flex;
  flex-direction: row;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-column($align, $justify) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
}

@mixin build-container-size($pad-vert, $pad-horiz, $max-width, $max-height:null) {
  padding: $pad-vert $pad-horiz;
  max-width: $max-width;
  max-height: $max-height;
}

@mixin theme-maker-block($block-name, $modifier-name) {
  &__#{$block-name} {
    #{".-" + $modifier-name} {
      background-color: $modifier-name;
    }
  }
}

@mixin theme-maker-element($element-name, $modifier-name) {
  &__#{$element-name} {
    #{".-" + $modifier-name} {
      background-color: $modifier-name;
    }
  }
}