@mixin bg-img-placement($pos-x, $pos-y) {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: $pos-x $pos-y;
}

/*flex utilities*/
@mixin flex-row($align, $justify) {
  display: flex;
  flex-direction: row;
  align-items: $align;
  justify-content: $justify;
}

@mixin flex-column($align, $justify) {
  display: flex;
  flex-direction: column;
  align-items: $align;
  justify-content: $justify;
}