/** csbs themes **/
.csbs--bg {
  background-color: rgb(0,95,113);
}
.csbs2--bg {
  background-color: rgb(127,175,184);
}
.csbs3--bg {
  background-color: rgb(204,223,227);
}
.csbs4--bg {
  background-color: rgb(229,239,241);
}

.csbs--bg-trans-7 {
  background-color: rgba(0,95,113,0.7);
}
.csbs2--bg-trans-7 {
  background-color: rgba(127,175,184,0.7);
}
.csbs3--bg-trans-7 {
  background-color: rgba(204,223,227,0.7);
}
.csbs4--bg-trans-7 {
  background-color: rgba(229,239,241,0.7);
}

.csbs--bg-trans-5 {
  background-color: rgba(0,95,113,0.5);
}
.csbs2--bg-trans-5 {
  background-color: rgba(127,175,184,0.5);
}
.csbs3--bg-trans-5 {
  background-color: rgba(204,223,227,0.5);
}
.csbs4--bg-trans-5 {
  background-color: rgba(229,239,241,0.5);
}

.csbs--bg-trans-3 {
  background-color: rgba(0,95,113,0.3);
}
.csbs2--bg-trans-3 {
  background-color: rgba(127,175,184,0.3);
}
.csbs3--bg-trans-3 {
  background-color: rgba(204,223,227,0.3);
}
.csbs4--bg-trans-3 {
  background-color: rgba(229,239,241,0.3);
}

.csbs-text {
  color: rgb(0,95,113);
}

