/** unigrey theme **/

.unigray {
  background-color: rgb(87,80,71);
}
.unigray2 {
  background-color: rgb(171,167,163);
}
.unigray3 {
  background-color: rgb(221,220,218);
}
.unigray4 {
  background-color: rgb(238,237,236);
}

.unigray-trans-7 {
  background-color: rgba(87,80,71,0.7);
}
.unigray2-trans-7 {
  background-color: rgba(171,167,163,0.7);
}
.unigray3-trans-7 {
  background-color: rgba(221,220,218,0.7);
}
.unigray4-trans-7 {
  background-color: rgba(238,237,236,0.7);
}

.unigrey-trans-5 {
  background-color: rgba(87,80,71,0.5);
}
.unigray2-trans-5 {
  background-color: rgba(171,167,163,0.5);
}
.unigray3-trans-5 {
  background-color: rgba(221,220,218,0.5);
}
.unigray4-trans-5 {
  background-color: rgba(238,237,236,0.5);
}

.unigrey-trans-3 {
  background-color: rgba(87,80,71,0.3);
}
.unigray2-trans-3 {
  background-color: rgba(171,167,163,0.3);
}
.unigray3-trans-3 {
  background-color: rgba(221,220,218,0.3);
}
.unigray4-trans-3 {
  background-color: rgba(238,237,236,0.3);
}

.unigrey-text {
  color: rgb(87,80,71);
}

