/**
** cos color theme
**/
.cos--bg {
  background-color: rgb(246,178,33);
}
.cos2--bg {
  background-color: rgb(250,216,144);
}
.cos3--bg {
  background-color: rgb(253,240,211);
}
.cos4--bg {
  background-color: rgb(254,247,232);
}

.cos--bg-trans-7 {
  background-color: rgba(246,178,33,0.7);
}
.cos2--bg-trans-7 {
  background-color: rgba(250,216,144,0.7);
}
.cos3--bg-trans-7 {
  background-color: rgba(253,240,211,0.7);
}
.cos4--bg-trans-7 {
  background-color: rgba(254,247,232,0.7);
}

.cos--bg-trans-5 {
  background-color: rgba(246,178,33,0.5);
}
.cos2--bg-trans-5 {
  background-color: rgba(250,216,144,0.5);
}
.cos3--bg-trans-5 {
  background-color: rgba(253,240,211,0.5);
}
.cos4--bg-trans-5 {
  background-color: rgba(254,247,232,0.5);
}

.cos--bg-trans-3 {
  background-color: rgba(246,178,33,0.3);
}
.cos2--bg-trans-3 {
  background-color: rgba(250,216,144,0.3);
}
.cos3--bg-trans-3 {
  background-color: rgba(253,240,211,0.3);
}
.cos4--bg-trans-3 {
  background-color: rgba(254,247,232,0.3);
}

.cos-text {
  color: rgb(246,178,33);
}