/** dumke theme **/
.dumke--bg {
  background-color: rgb(9,152,68);
}
.dumke2--bg {
  background-color: rgb(127,203,161);
}
.dumke3--bg {
  background-color: rgb(204,234,218);
}
.dumke4--bg {
  background-color: rgb(229,244,236);
}

.dumke--bg-trans-7 {
  background-color: rgba(9,152,68,0.7);
}
.dumke2--bg-trans-7 {
  background-color: rgba(127,203,161,0.7);
}
.dumke3--bg-trans-7 {
  background-color: rgba(204,234,218,0.7);
}
.dumke4--bg-trans-7 {
  background-color: rgba(229,244,236,0.7);
}

.dumke--bg-trans-5 {
  background-color: rgba(9,152,68,0.5);
}
.dumke2--bg-trans-5 {
  background-color: rgba(127,203,161,0.5);
}
.dumke3--bg-trans-5 {
  background-color: rgba(204,234,218,0.5);
}
.dumke4--bg-trans-5 {
  background-color: rgba(229,244,236,0.5);
}

.dumke--bg-trans-3 {
  background-color: rgba(9,152,68,0.3);
}
.dumke2--bg-trans-3 {
  background-color: rgba(127,203,161,0.3);
}
.dumke3--bg-trans-3 {
  background-color: rgba(204,234,218,0.3);
}
.dumke4--bg-trans-3 {
  background-color: rgba(229,244,236,0.3);
}

.dumke-text {
  color: rgb(9,152,68);
}