/**
*** east color theme
**/
.east--bg {
  background-color: rgb(210,93,18);
}
.east2--bg {
  background-color: rgb(232,174,136);
}
.east3--bg {
  background-color: rgb(246,223,208);
}
.east4--bg {
  background-color: rgb(250,238,231);
}

.east--bg-trans-7 {
  background-color: rgba(210,93,18,0.7);
}
.east2--bg-trans-7 {
  background-color: rgba(232,174,136,0.7);
}
.east3--bg-trans-7 {
  background-color: rgba(246,223,208,0.7);
}
.east4--bg-trans-7 {
  background-color: rgba(250,238,231,0.7);
}

.east--bg-trans-5 {
  background-color: rgba(210,93,18,0.5);
}
.east2--bg-trans-5 {
  background-color: rgba(232,174,136,0.5);
}
.east3--bg-trans-5 {
  background-color: rgba(246,223,208,0.5);
}
.east4--bg-trans-5 {
  background-color: rgba(250,238,231,0.5);
}

.east--bg-trans-3 {
  background-color: rgba(210,93,18,0.3);
}
.east2--bg-trans-3 {
  background-color: rgba(232,174,136,0.3);
}
.east3--bg-trans-3 {
  background-color: rgba(246,223,208,0.3);
}
.east4--bg-trans-3 {
  background-color: rgba(250,238,231,0.3);
}

.east-text {
  color: rgb(210,93,18);
}