/** godd theme **/

.godd--bg {
  background-color: rgb(72,54,39);
}
.godd2--bg {
  background-color: rgb(163,154,147);
}
.godd3--bg {
  background-color: rgb(218,215,212);
}
.godd4--bg {
  background-color: rgb(236,235,233);
}

.godd--bg-trans-7 {
  background-color: rgba(72,54,39,0.7);
}
.godd2--bg-trans-7 {
  background-color: rgba(163,154,147,0.7);
}
.godd3--bg-trans-7 {
  background-color: rgba(218,215,212,0.7);
}
.godd4--bg-trans-7 {
  background-color: rgba(236,235,233,0.7);
}

.godd--bg-trans-5 {
  background-color: rgba(72,54,39,0.5);
}
.godd2--bg-trans-5 {
  background-color: rgba(163,154,147,0.5);
}
.godd3--bg-trans-5 {
  background-color: rgba(218,215,212,0.5);
}
.godd4--bg-trans-5 {
  background-color: rgba(236,235,233,0.5);
}

.godd--bg-trans-3 {
  background-color: rgba(72,54,39,0.3);
}
.godd2--bg-trans-3 {
  background-color: rgba(163,154,147,0.3);
}
.godd3--bg-trans-3 {
  background-color: rgba(218,215,212,0.3);
}
.godd4--bg-trans-3 {
  background-color: rgba(236,235,233,0.3);
}

.godd-text {
  color: rgb(72,54,39);
}

