/** hlcolor theme **/

.hlcolor {
  background-color: rgb(132,70,172);
}
.hlcolor2 {
  background-color: rgb(193,162,213);
}
.hlcolor3 {
  background-color: rgb(230,218,238);
}
.hlcolor4 {
  background-color: rgb(242,236,247);
}

.hlcolor-trans-7 {
  background-color: rgba(132,70,172,0.7);
}
.hlcolor2-trans-7 {
  background-color: rgba(193,162,213,0.7);
}
.hlcolor3-trans-7 {
  background-color: rgba(230,218,238,0.7);
}
.hlcolor4-trans-7 {
  background-color: rgba(242,236,247,0.7);
}

.hlcolor-trans-5 {
  background-color: rgba(132,70,172,0.5);
}
.hlcolor2-trans-5 {
  background-color: rgba(193,162,213,0.5);
}
.hlcolor3-trans-5 {
  background-color: rgba(230,218,238,0.5);
}
.hlcolor4-trans-5 {
  background-color: rgba(242,236,247,0.5);
}

.hlcolor-trans-3 {
  background-color: rgba(132,70,172,0.3);
}
.hlcolor2-trans-3 {
  background-color: rgba(193,162,213,0.3);
}
.hlcolor3-trans-3 {
  background-color: rgba(230,218,238,0.3);
}
.hlcolor4-trans-3 {
  background-color: rgba(242,236,247,0.3);
}

.hlcolor-text {
  color: rgb(132, 70, 172);
}



