
/** lind theme **/

.lind--bg {
  background-color: rgb(37,202,211);
}
.lind2--bg {
  background-color: rgb(146,228,233);
}
.lind3--bg {
  background-color: rgb(211,244,246);
}
.lind4--bg {
  background-color: rgb(233,250,251);
}

.lind--bg-trans-7 {
  background-color: rgba(37,202,211,0.7);
}
.lind2--bg-trans-7 {
  background-color: rgba(146,228,233,0.7);
}
.lind3--bg-trans-7 {
  background-color: rgba(211,244,246,0.7);
}
.lind4--bg-trans-7 {
  background-color: rgba(233,250,251,0.7);
}

.lind--bg-trans-5 {
  background-color: rgba(37,202,211,0.5);
}
.lind2--bg-trans-5 {
  background-color: rgba(146,228,233,0.5);
}
.lind3--bg-trans-5 {
  background-color: rgba(211,244,246,0.5);
}
.lind4--bg-trans-5 {
  background-color: rgba(233,250,251,0.5);
}

.lind--bg-trans-3 {
  background-color: rgba(37,202,211,0.5);
}
.lind2--bg-trans-3 {
  background-color: rgba(146,228,233,0.3);
}
.lind3--bg-trans-3 {
  background-color: rgba(211,244,246,0.3);
}
.lind4--bg-trans-3 {
  background-color: rgba(233,250,251,0.3);
}

.lind-text {
  color: rgb(37,202,211);
}