/** moyes theme **/

.moyes {
  background-color: rgb(163,213,93);
}
.moyes2 {
  background-color: rgb(209,234,174);
}
.moyes3 {
  background-color: rgb(237,247,223);
}
.moyes4 {
  background-color: rgb(246, 251,238);
}

.moyes-trans-7 {
  background-color: rgba(163,213,93,0.7);
}
.moyes2-trans-7 {
  background-color: rgba(209,234,174,0.7);
}
.moyes3-trans-7 {
  background-color: rgba(237,247,223,0.7);
}
.moyes4-trans-7 {
  background-color: rgba(246,251,238,0.7);
}

.moyes-trans-5 {
  background-color: rgba(163,213,93,0.5);
}
.moyes2-trans-5 {
  background-color: rgba(209,234,174,0.5);
}
.moyes3-trans-5 {
  background-color: rgba(237,247,223,0.5);
}
.moyes4-trans-5 {
  background-color: rgba(246,251,238,0.5);
}

.moyes-trans-3 {
  background-color: rgba(163,213,93,0.3);
}
.moyes2-trans-3 {
  background-color: rgba(209,234,174,0.3);
}
.moyes3-trans-3 {
  background-color: rgba(237,247,223,0.3);
}
.moyes4-trans-3 {
  background-color: rgba(246,251,238,0.3);
}

.moyes-text {
  color: rgb(163,213,93);
}