/**
*** moyes color theme
**/

.moyes--bg {
  background-color: rgb(163,213,93);
}
.moyes2--bg {
  background-color: rgb(209,234,174);
}
.moyes3--bg {
  background-color: rgb(237,247,223);
}
.moyes4--bg {
  background-color: rgb(246, 251,238);
}

.moyes--bg-trans-7 {
  background-color: rgba(163,213,93,0.7);
}
.moyes2--bg-trans-7 {
  background-color: rgba(209,234,174,0.7);
}
.moyes3--bg-trans-7 {
  background-color: rgba(237,247,223,0.7);
}
.moyes4--bg-trans-7 {
  background-color: rgba(246,251,238,0.7);
}

.moyes--bg-trans-5 {
  background-color: rgba(163,213,93,0.5);
}
.moyes2--bg-trans-5 {
  background-color: rgba(209,234,174,0.5);
}
.moyes3--bg-trans-5 {
  background-color: rgba(237,247,223,0.5);
}
.moyes4--bg-trans-5 {
  background-color: rgba(246,251,238,0.5);
}

.moyes--bg-trans-3 {
  background-color: rgba(163,213,93,0.3);
}
.moyes2--bg-trans-3 {
  background-color: rgba(209,234,174,0.3);
}
.moyes3--bg-trans-3 {
  background-color: rgba(237,247,223,0.3);
}
.moyes4--bg-trans-3 {
  background-color: rgba(246,251,238,0.3);
}

.moyes-text {
  color: rgb(163,213,93);
}