/** wcpurple theme **/

.wcpurp--bg {
  background-color: rgb(73,35,101);
}
.wcpurp2--bg {
  background-color: rgb(164,145,178);
}
.wcpurp3--bg {
  background-color: rgb(219,211,224);
}
.wcpurp4--bg {
  background-color: rgb(236,233,239);
}

.wcpurp--bg-trans-7 {
  background-color: rgba(73,35,101,0.7);
}
.wcpurp2--bg-trans-7 {
  background-color: rgba(164,145,178,0.7);
}
.wcpurp3--bg-trans-7 {
  background-color: rgba(219,211,224,0.7);
}
.wcpurp4--bg-trans-7 {
  background-color: rgba(236,233,239,0.7);
}

.wcpurp--bg-trans-5 {
  background-color: rgba(73,35,101,0.5);
}
.wcpurp2--bg-trans-5 {
  background-color: rgba(164,145,178,0.5);
}
.wcpurp3--bg-trans-5 {
  background-color: rgba(219,211,224,0.5);
}
.wcpurp4--bg-trans-5 {
  background-color: rgba(236,233,239,0.5);
}

.wcpurp--bg-trans-3 {
  background-color: rgba(73,35,101,0.3);
}
.wcpurp2--bg-trans-3 {
  background-color: rgba(164,145,178,0.3);
}
.wcpurp3--bg-trans-3 {
  background-color: rgba(219,211,224,0.3);
}
.wcpurp4--bg-trans-3 {
  background-color: rgba(236,233,239,0.3);
}

.wcpurp-text {
  color: rgb(73,35,101);
}