/**
*** icon
**/
.icon {
  color: #FFF;
  width: 100px;
}
.icon-xlarge {
  width: 150px;
}
.icon-large {
  width: 100px;
}
.icon-medium {
  width: 75px;
}
.icon-small {
  width: 50px;
}
.icon-tiny {
  width: 25px;
}

/**
*** banners
**/
.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banner--center-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.banner--left-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (max-width: 768px) {
  .banner--left-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.banner--right-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  .banner--right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}
.banner--aspect-2-1, .banner--tall {
  height: calc(100vw * (1 / 2));
}
.banner--aspect-3-2 {
  height: calc(100vw * (2 / 3));
}
.banner--aspect-4-3, .banner--xxtall {
  height: calc(100vw * (3 / 4));
}
.banner--aspect-16-9, .banner--xtall {
  height: calc(100vw * (9 / 16));
}
.banner--aspect-21-9, .banner--medium {
  height: calc(100vw * (9 / 21));
}
.banner--aspect-4-1, .banner--short {
  height: calc(100vw * (1 / 4));
}

.card-advisor {
  margin-bottom: 2rem;
  padding-bottom: 6%;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.card-advisor__title {
  background-color: #492365;
  padding: 10px;
  color: #fafafa !important;
  margin: 0;
  font-size: 1.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.card-advisor__content {
  padding: 1.5em;
}
.card-advisor__button {
  background-color: #492365;
  align-self: center;
}
.card-advisor.-shadow {
  box-shadow: 0 0 10px 2px #ccc;
}
@media screen and (min-resolution: 192dpi) {
  .card-advisor.-shadow {
    box-shadow: 0 0 10px 2px #eee;
  }
}
.card-advisor--no-header .card-advisor__header-image {
  display: none;
}

.card-advisor.-cos-theme .card-advisor__title {
  background-color: #f6b221;
}
.card-advisor.-cos-theme .card-advisor__button {
  background-color: #f6b221;
}
.card-advisor.-cos-theme .card-advisor__button:hover {
  background-color: #f8c352;
}
.card-advisor.-csbs-theme .card-advisor__title {
  background-color: #005f71;
}
.card-advisor.-csbs-theme .card-advisor__button {
  background-color: #005f71;
}
.card-advisor.-csbs-theme .card-advisor__button:hover {
  background-color: #008aa4;
}
.card-advisor.-dumke-theme .card-advisor__title {
  background-color: #099844;
}
.card-advisor.-dumke-theme .card-advisor__button {
  background-color: #099844;
}
.card-advisor.-dumke-theme .card-advisor__button:hover {
  background-color: #0cc85a;
}
.card-advisor.-east-theme .card-advisor__title {
  background-color: #d25d12;
}
.card-advisor.-east-theme .card-advisor__button {
  background-color: #d25d12;
}
.card-advisor.-east-theme .card-advisor__button:hover {
  background-color: #ed762a;
}
.card-advisor.-godd-theme .card-advisor__title {
  background-color: #483627;
}
.card-advisor.-godd-theme .card-advisor__button {
  background-color: #483627;
}
.card-advisor.-godd-theme .card-advisor__button:hover {
  background-color: #694f39;
}
.card-advisor.-hlcolor-theme .card-advisor__title {
  background-color: #8446ac;
}
.card-advisor.-hlcolor-theme .card-advisor__button {
  background-color: #8446ac;
}
.card-advisor.-hlcolor-theme .card-advisor__button:hover {
  background-color: #9c65c0;
}
.card-advisor.-lind-theme .card-advisor__title {
  background-color: #25cad3;
}
.card-advisor.-lind-theme .card-advisor__button {
  background-color: #25cad3;
}
.card-advisor.-lind-theme .card-advisor__button:hover {
  background-color: #4bd8e0;
}
.card-advisor.-mauve-theme .card-advisor__title {
  background-color: #691940;
}
.card-advisor.-mauve-theme .card-advisor__button {
  background-color: #691940;
}
.card-advisor.-mauve-theme .card-advisor__button:hover {
  background-color: #922359;
}
.card-advisor.-moyes-theme .card-advisor__title {
  background-color: #a3d55d;
}
.card-advisor.-moyes-theme .card-advisor__button {
  background-color: #a3d55d;
}
.card-advisor.-moyes-theme .card-advisor__button:hover {
  background-color: #bae086;
}
.card-advisor.-unigray-theme .card-advisor__title {
  background-color: #575047;
}
.card-advisor.-unigray-theme .card-advisor__button {
  background-color: #575047;
}
.card-advisor.-unigray-theme .card-advisor__button:hover {
  background-color: #736a5e;
}
.card-advisor.-wcpurp-theme .card-advisor__title {
  background-color: #492365;
}
.card-advisor.-wcpurp-theme .card-advisor__button {
  background-color: #492365;
}
.card-advisor.-wcpurp-theme .card-advisor__button:hover {
  background-color: #64308b;
}
.card-advisor.-wsumauve-theme .card-advisor__title {
  background-color: #691940;
}
.card-advisor.-wsumauve-theme .card-advisor__button {
  background-color: #691940;
}
.card-advisor.-wsumauve-theme .card-advisor__button:hover {
  background-color: #922359;
}
.card-advisor.-wsubrown-theme .card-advisor__title {
  background-color: #84471e;
}
.card-advisor.-wsubrown-theme .card-advisor__button {
  background-color: #84471e;
}
.card-advisor.-wsubrown-theme .card-advisor__button:hover {
  background-color: #ae5d27;
}
.card-advisor.-wsured-theme .card-advisor__title {
  background-color: #a52428;
}
.card-advisor.-wsured-theme .card-advisor__button {
  background-color: #a52428;
}
.card-advisor.-wsured-theme .card-advisor__button:hover {
  background-color: #cf2d32;
}
.card-advisor.-wsublue-theme .card-advisor__title {
  background-color: #346094;
}
.card-advisor.-wsublue-theme .card-advisor__button {
  background-color: #346094;
}
.card-advisor.-wsublue-theme .card-advisor__button:hover {
  background-color: #4178ba;
}
.card-advisor.-wsugreen-theme .card-advisor__title {
  background-color: #005c49;
}
.card-advisor.-wsugreen-theme .card-advisor__button {
  background-color: #005c49;
}
.card-advisor.-wsugreen-theme .card-advisor__button:hover {
  background-color: #008f71;
}
.card-advisor.-wsuwhite-theme .card-advisor__title {
  background-color: white;
}
.card-advisor.-wsuwhite-theme .card-advisor__button {
  background-color: white;
}
.card-advisor.-wsuwhite-theme .card-advisor__button:hover {
  background-color: white;
}

.card-bio {
  background-color: #fff;
  margin-bottom: 30px;
}
.card-bio__header {
  padding: 1.5em 0 1.5em 1.5em !important;
}
@media only screen and (max-width: 640px) {
  .card-bio__header {
    padding: 0 !important;
  }
}
.card-bio__title {
  font-size: 1.5em !important;
}
.card-bio__subtitle {
  font-family: "caecilialtstd-heavy", serif;
  text-transform: uppercase;
}
.card-bio__link {
  display: block;
  margin-bottom: 10px;
}
.card-bio__content {
  padding: 1.5em 3% 1em !important;
}

/**
*** cards ***
**/
.card-module {
  background-color: #FFF;
  margin-bottom: 16px;
  padding-bottom: 6%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-module__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px;
  background-color: #492365;
  width: 100%;
}
.card-module__header--bg-image {
  background-color: inherit;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
}
.card-module__content {
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: start;
  padding: 8% 6% 6%;
}
.card-module__title {
  font-size: 1.5em !important;
  margin-bottom: 16px;
}
.card-module__title--underlined {
  border-bottom: 1px solid #cfcfcf;
  padding-bottom: 10px;
  width: 100%;
}
.card-module__button {
  display: block;
  background-color: #492365;
}
.card-module--centered .card-module__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
}

/**
*** card-module themes
**/
.card-module.-cos-theme .card-module__header {
  background-color: #f6b221;
}
.card-module.-cos-theme .card-module__button {
  background-color: #f6b221;
}
.card-module.-cos-theme .card-module__button:hover {
  background-color: #f8c352;
}
.card-module.-csbs-theme .card-module__header {
  background-color: #005f71;
}
.card-module.-csbs-theme .card-module__button {
  background-color: #005f71;
}
.card-module.-csbs-theme .card-module__button:hover {
  background-color: #008aa4;
}
.card-module.-dumke-theme .card-module__header {
  background-color: #099844;
}
.card-module.-dumke-theme .card-module__button {
  background-color: #099844;
}
.card-module.-dumke-theme .card-module__button:hover {
  background-color: #0cc85a;
}
.card-module.-east-theme .card-module__header {
  background-color: #d25d12;
}
.card-module.-east-theme .card-module__button {
  background-color: #d25d12;
}
.card-module.-east-theme .card-module__button:hover {
  background-color: #ed762a;
}
.card-module.-godd-theme .card-module__header {
  background-color: #483627;
}
.card-module.-godd-theme .card-module__button {
  background-color: #483627;
}
.card-module.-godd-theme .card-module__button:hover {
  background-color: #694f39;
}
.card-module.-hlcolor-theme .card-module__header {
  background-color: #8446ac;
}
.card-module.-hlcolor-theme .card-module__button {
  background-color: #8446ac;
}
.card-module.-hlcolor-theme .card-module__button:hover {
  background-color: #9c65c0;
}
.card-module.-lind-theme .card-module__header {
  background-color: #25cad3;
}
.card-module.-lind-theme .card-module__button {
  background-color: #25cad3;
}
.card-module.-lind-theme .card-module__button:hover {
  background-color: #4bd8e0;
}
.card-module.-mauve-theme .card-module__header {
  background-color: #691940;
}
.card-module.-mauve-theme .card-module__button {
  background-color: #691940;
}
.card-module.-mauve-theme .card-module__button:hover {
  background-color: #922359;
}
.card-module.-moyes-theme .card-module__header {
  background-color: #a3d55d;
}
.card-module.-moyes-theme .card-module__button {
  background-color: #a3d55d;
}
.card-module.-moyes-theme .card-module__button:hover {
  background-color: #bae086;
}
.card-module.-unigray-theme .card-module__header {
  background-color: #575047;
}
.card-module.-unigray-theme .card-module__button {
  background-color: #575047;
}
.card-module.-unigray-theme .card-module__button:hover {
  background-color: #736a5e;
}
.card-module.-wcpurp-theme .card-module__header {
  background-color: #492365;
}
.card-module.-wcpurp-theme .card-module__button {
  background-color: #492365;
}
.card-module.-wcpurp-theme .card-module__button:hover {
  background-color: #64308b;
}
.card-module.-wsumauve-theme .card-module__header {
  background-color: #691940;
}
.card-module.-wsumauve-theme .card-module__button {
  background-color: #691940;
}
.card-module.-wsumauve-theme .card-module__button:hover {
  background-color: #922359;
}
.card-module.-wsubrown-theme .card-module__header {
  background-color: #84471e;
}
.card-module.-wsubrown-theme .card-module__button {
  background-color: #84471e;
}
.card-module.-wsubrown-theme .card-module__button:hover {
  background-color: #ae5d27;
}
.card-module.-wsured-theme .card-module__header {
  background-color: #a52428;
}
.card-module.-wsured-theme .card-module__button {
  background-color: #a52428;
}
.card-module.-wsured-theme .card-module__button:hover {
  background-color: #cf2d32;
}
.card-module.-wsublue-theme .card-module__header {
  background-color: #346094;
}
.card-module.-wsublue-theme .card-module__button {
  background-color: #346094;
}
.card-module.-wsublue-theme .card-module__button:hover {
  background-color: #4178ba;
}
.card-module.-wsugreen-theme .card-module__header {
  background-color: #005c49;
}
.card-module.-wsugreen-theme .card-module__button {
  background-color: #005c49;
}
.card-module.-wsugreen-theme .card-module__button:hover {
  background-color: #008f71;
}
.card-module.-wsuwhite-theme .card-module__header {
  background-color: white;
}
.card-module.-wsuwhite-theme .card-module__button {
  background-color: white;
}
.card-module.-wsuwhite-theme .card-module__button:hover {
  background-color: white;
}

/**
*** card overlay ***
**/
.card-overlay {
  margin-bottom: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-overlay__header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 24px;
  width: 100%;
}
.card-overlay__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: #fff;
  max-width: 340px;
  margin: 0 auto 20px;
  font-family: tradegothiclt, sans-serif;
  font-size: 1.2em;
  text-align: center;
}
.card-overlay__title {
  font-size: 1.5em !important;
  margin-bottom: 16px;
  color: #fff !important;
}
.card-overlay__title--underlined {
  border-bottom: 1px solid #fff;
  padding-bottom: 10px;
  width: 100%;
}
.card-overlay__button {
  display: block;
  background-color: #492365;
  padding: 23px;
  font-size: 20px;
  font-family: "tradegothiclt-bold", sans-serif;
  margin: 30px 0;
}
.card-overlay--centered .card-module__content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: start;
  text-align: center;
}

/**
*** card-overlay themes
**/
.card-overlay.-cos-theme .card-overlay__link {
  color: #f6b221;
}
.card-overlay.-cos-theme .card-overlay__link:hover {
  color: #aa7607;
}
.card-overlay.-cos-theme .card-overlay__button {
  background-color: #f6b221;
}
.card-overlay.-cos-theme .card-overlay__button:hover {
  background-color: #aa7607;
}
.card-overlay.-csbs-theme .card-overlay__link {
  color: #005f71;
}
.card-overlay.-csbs-theme .card-overlay__link:hover {
  color: #00090b;
}
.card-overlay.-csbs-theme .card-overlay__button {
  background-color: #005f71;
}
.card-overlay.-csbs-theme .card-overlay__button:hover {
  background-color: #00090b;
}
.card-overlay.-dumke-theme .card-overlay__link {
  color: #099844;
}
.card-overlay.-dumke-theme .card-overlay__link:hover {
  color: #033819;
}
.card-overlay.-dumke-theme .card-overlay__button {
  background-color: #099844;
}
.card-overlay.-dumke-theme .card-overlay__button:hover {
  background-color: #033819;
}
.card-overlay.-east-theme .card-overlay__link {
  color: #d25d12;
}
.card-overlay.-east-theme .card-overlay__link:hover {
  color: #74330a;
}
.card-overlay.-east-theme .card-overlay__button {
  background-color: #d25d12;
}
.card-overlay.-east-theme .card-overlay__button:hover {
  background-color: #74330a;
}
.card-overlay.-godd-theme .card-overlay__link {
  color: #483627;
}
.card-overlay.-godd-theme .card-overlay__link:hover {
  color: #060403;
}
.card-overlay.-godd-theme .card-overlay__button {
  background-color: #483627;
}
.card-overlay.-godd-theme .card-overlay__button:hover {
  background-color: #060403;
}
.card-overlay.-hlcolor-theme .card-overlay__link {
  color: #8446ac;
}
.card-overlay.-hlcolor-theme .card-overlay__link:hover {
  color: #4c2864;
}
.card-overlay.-hlcolor-theme .card-overlay__button {
  background-color: #8446ac;
}
.card-overlay.-hlcolor-theme .card-overlay__button:hover {
  background-color: #4c2864;
}
.card-overlay.-lind-theme .card-overlay__link {
  color: #25cad3;
}
.card-overlay.-lind-theme .card-overlay__link:hover {
  color: #16777c;
}
.card-overlay.-lind-theme .card-overlay__button {
  background-color: #25cad3;
}
.card-overlay.-lind-theme .card-overlay__button:hover {
  background-color: #16777c;
}
.card-overlay.-mauve-theme .card-overlay__link {
  color: #691940;
}
.card-overlay.-mauve-theme .card-overlay__link:hover {
  color: #17050e;
}
.card-overlay.-mauve-theme .card-overlay__button {
  background-color: #691940;
}
.card-overlay.-mauve-theme .card-overlay__button:hover {
  background-color: #17050e;
}
.card-overlay.-moyes-theme .card-overlay__link {
  color: #a3d55d;
}
.card-overlay.-moyes-theme .card-overlay__link:hover {
  color: #70a22a;
}
.card-overlay.-moyes-theme .card-overlay__button {
  background-color: #a3d55d;
}
.card-overlay.-moyes-theme .card-overlay__button:hover {
  background-color: #70a22a;
}
.card-overlay.-unigray-theme .card-overlay__link {
  color: #575047;
}
.card-overlay.-unigray-theme .card-overlay__link:hover {
  color: #1f1c19;
}
.card-overlay.-unigray-theme .card-overlay__button {
  background-color: #575047;
}
.card-overlay.-unigray-theme .card-overlay__button:hover {
  background-color: #1f1c19;
}
.card-overlay.-wcpurp-theme .card-overlay__link {
  color: #492365;
}
.card-overlay.-wcpurp-theme .card-overlay__link:hover {
  color: #120919;
}
.card-overlay.-wcpurp-theme .card-overlay__button {
  background-color: #492365;
}
.card-overlay.-wcpurp-theme .card-overlay__button:hover {
  background-color: #120919;
}
.card-overlay.-wsumauve-theme .card-overlay__link {
  color: #691940;
}
.card-overlay.-wsumauve-theme .card-overlay__link:hover {
  color: #17050e;
}
.card-overlay.-wsumauve-theme .card-overlay__button {
  background-color: #691940;
}
.card-overlay.-wsumauve-theme .card-overlay__button:hover {
  background-color: #17050e;
}
.card-overlay.-wsubrown-theme .card-overlay__link {
  color: #84471e;
}
.card-overlay.-wsubrown-theme .card-overlay__link:hover {
  color: #311a0b;
}
.card-overlay.-wsubrown-theme .card-overlay__button {
  background-color: #84471e;
}
.card-overlay.-wsubrown-theme .card-overlay__button:hover {
  background-color: #311a0b;
}
.card-overlay.-wsured-theme .card-overlay__link {
  color: #a52428;
}
.card-overlay.-wsured-theme .card-overlay__link:hover {
  color: #511214;
}
.card-overlay.-wsured-theme .card-overlay__button {
  background-color: #a52428;
}
.card-overlay.-wsured-theme .card-overlay__button:hover {
  background-color: #511214;
}
.card-overlay.-wsublue-theme .card-overlay__link {
  color: #346094;
}
.card-overlay.-wsublue-theme .card-overlay__link:hover {
  color: #192f49;
}
.card-overlay.-wsublue-theme .card-overlay__button {
  background-color: #346094;
}
.card-overlay.-wsublue-theme .card-overlay__button:hover {
  background-color: #192f49;
}
.card-overlay.-wsugreen-theme .card-overlay__link {
  color: #005c49;
}
.card-overlay.-wsugreen-theme .card-overlay__link:hover {
  color: black;
}
.card-overlay.-wsugreen-theme .card-overlay__button {
  background-color: #005c49;
}
.card-overlay.-wsugreen-theme .card-overlay__button:hover {
  background-color: black;
}
.card-overlay.-wsuwhite-theme .card-overlay__link {
  color: white;
}
.card-overlay.-wsuwhite-theme .card-overlay__link:hover {
  color: #cccccc;
}
.card-overlay.-wsuwhite-theme .card-overlay__button {
  background-color: white;
}
.card-overlay.-wsuwhite-theme .card-overlay__button:hover {
  background-color: #cccccc;
}

.card-personnel {
  margin-bottom: 2rem;
  padding-bottom: 6%;
  background-color: #f3f3f3;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.card-personnel__title {
  background-color: #492365;
  padding: 10px;
  color: #fafafa !important;
  margin: 0;
  font-size: 1.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.card-personnel__content {
  padding: 1.5em;
}
.card-personnel--no-header .feature-box__header-image {
  display: none;
}

.card-personnel.-cos-theme .card-personnel__title {
  background-color: #f6b221;
}
.card-personnel.-cos-theme .card-personnel__button {
  background-color: #f6b221;
}
.card-personnel.-cos-theme .card-personnel__button:hover {
  background-color: #f8c352;
}
.card-personnel.-csbs-theme .card-personnel__title {
  background-color: #005f71;
}
.card-personnel.-csbs-theme .card-personnel__button {
  background-color: #005f71;
}
.card-personnel.-csbs-theme .card-personnel__button:hover {
  background-color: #008aa4;
}
.card-personnel.-dumke-theme .card-personnel__title {
  background-color: #099844;
}
.card-personnel.-dumke-theme .card-personnel__button {
  background-color: #099844;
}
.card-personnel.-dumke-theme .card-personnel__button:hover {
  background-color: #0cc85a;
}
.card-personnel.-east-theme .card-personnel__title {
  background-color: #d25d12;
}
.card-personnel.-east-theme .card-personnel__button {
  background-color: #d25d12;
}
.card-personnel.-east-theme .card-personnel__button:hover {
  background-color: #ed762a;
}
.card-personnel.-godd-theme .card-personnel__title {
  background-color: #483627;
}
.card-personnel.-godd-theme .card-personnel__button {
  background-color: #483627;
}
.card-personnel.-godd-theme .card-personnel__button:hover {
  background-color: #694f39;
}
.card-personnel.-hlcolor-theme .card-personnel__title {
  background-color: #8446ac;
}
.card-personnel.-hlcolor-theme .card-personnel__button {
  background-color: #8446ac;
}
.card-personnel.-hlcolor-theme .card-personnel__button:hover {
  background-color: #9c65c0;
}
.card-personnel.-lind-theme .card-personnel__title {
  background-color: #25cad3;
}
.card-personnel.-lind-theme .card-personnel__button {
  background-color: #25cad3;
}
.card-personnel.-lind-theme .card-personnel__button:hover {
  background-color: #4bd8e0;
}
.card-personnel.-mauve-theme .card-personnel__title {
  background-color: #691940;
}
.card-personnel.-mauve-theme .card-personnel__button {
  background-color: #691940;
}
.card-personnel.-mauve-theme .card-personnel__button:hover {
  background-color: #922359;
}
.card-personnel.-moyes-theme .card-personnel__title {
  background-color: #a3d55d;
}
.card-personnel.-moyes-theme .card-personnel__button {
  background-color: #a3d55d;
}
.card-personnel.-moyes-theme .card-personnel__button:hover {
  background-color: #bae086;
}
.card-personnel.-unigray-theme .card-personnel__title {
  background-color: #575047;
}
.card-personnel.-unigray-theme .card-personnel__button {
  background-color: #575047;
}
.card-personnel.-unigray-theme .card-personnel__button:hover {
  background-color: #736a5e;
}
.card-personnel.-wcpurp-theme .card-personnel__title {
  background-color: #492365;
}
.card-personnel.-wcpurp-theme .card-personnel__button {
  background-color: #492365;
}
.card-personnel.-wcpurp-theme .card-personnel__button:hover {
  background-color: #64308b;
}
.card-personnel.-wsumauve-theme .card-personnel__title {
  background-color: #691940;
}
.card-personnel.-wsumauve-theme .card-personnel__button {
  background-color: #691940;
}
.card-personnel.-wsumauve-theme .card-personnel__button:hover {
  background-color: #922359;
}
.card-personnel.-wsubrown-theme .card-personnel__title {
  background-color: #84471e;
}
.card-personnel.-wsubrown-theme .card-personnel__button {
  background-color: #84471e;
}
.card-personnel.-wsubrown-theme .card-personnel__button:hover {
  background-color: #ae5d27;
}
.card-personnel.-wsured-theme .card-personnel__title {
  background-color: #a52428;
}
.card-personnel.-wsured-theme .card-personnel__button {
  background-color: #a52428;
}
.card-personnel.-wsured-theme .card-personnel__button:hover {
  background-color: #cf2d32;
}
.card-personnel.-wsublue-theme .card-personnel__title {
  background-color: #346094;
}
.card-personnel.-wsublue-theme .card-personnel__button {
  background-color: #346094;
}
.card-personnel.-wsublue-theme .card-personnel__button:hover {
  background-color: #4178ba;
}
.card-personnel.-wsugreen-theme .card-personnel__title {
  background-color: #005c49;
}
.card-personnel.-wsugreen-theme .card-personnel__button {
  background-color: #005c49;
}
.card-personnel.-wsugreen-theme .card-personnel__button:hover {
  background-color: #008f71;
}
.card-personnel.-wsuwhite-theme .card-personnel__title {
  background-color: white;
}
.card-personnel.-wsuwhite-theme .card-personnel__button {
  background-color: white;
}
.card-personnel.-wsuwhite-theme .card-personnel__button:hover {
  background-color: white;
}

.card-resource {
  position: relative;
  max-width: 620px;
  margin: 0 auto 40px;
  height: auto;
  background-color: #FFF;
}
.card-resource__header {
  width: 30%;
  display: inline-block;
  padding: 30px;
}
.card-resource__header__icon {
  width: auto;
}
.card-resource__content {
  width: 66%;
  float: right;
  padding: 10px;
  display: flex;
  flex-direction: column;
}
.card-resource__button {
  position: absolute;
  display: block;
  bottom: 0;
  right: 33%;
  transform: translateX(50%);
}

@media only screen and (max-width: 600px) {
  .card-resource {
    width: 100%;
    margin: 0 auto 40px;
    min-height: 421px;
  }
  .card-resource__header {
    width: 100%;
    display: block;
    text-align: center;
  }
  .card-resource__header__icon {
    max-width: 110px;
  }
  .card-resource__content {
    width: 100%;
    float: none;
  }
  .card-resource__button {
    right: 50%;
  }
}
.card-resource.-cos-theme .card-resource__header {
  background-color: #f6b221;
}
.card-resource.-cos-theme .card-resource__button {
  background-color: #f6b221;
}
.card-resource.-cos-theme .card-resource__button:hover {
  background-color: #f8c352;
}
.card-resource.-csbs-theme .card-resource__header {
  background-color: #005f71;
}
.card-resource.-csbs-theme .card-resource__button {
  background-color: #005f71;
}
.card-resource.-csbs-theme .card-resource__button:hover {
  background-color: #008aa4;
}
.card-resource.-dumke-theme .card-resource__header {
  background-color: #099844;
}
.card-resource.-dumke-theme .card-resource__button {
  background-color: #099844;
}
.card-resource.-dumke-theme .card-resource__button:hover {
  background-color: #0cc85a;
}
.card-resource.-east-theme .card-resource__header {
  background-color: #d25d12;
}
.card-resource.-east-theme .card-resource__button {
  background-color: #d25d12;
}
.card-resource.-east-theme .card-resource__button:hover {
  background-color: #ed762a;
}
.card-resource.-godd-theme .card-resource__header {
  background-color: #483627;
}
.card-resource.-godd-theme .card-resource__button {
  background-color: #483627;
}
.card-resource.-godd-theme .card-resource__button:hover {
  background-color: #694f39;
}
.card-resource.-hlcolor-theme .card-resource__header {
  background-color: #8446ac;
}
.card-resource.-hlcolor-theme .card-resource__button {
  background-color: #8446ac;
}
.card-resource.-hlcolor-theme .card-resource__button:hover {
  background-color: #9c65c0;
}
.card-resource.-lind-theme .card-resource__header {
  background-color: #25cad3;
}
.card-resource.-lind-theme .card-resource__button {
  background-color: #25cad3;
}
.card-resource.-lind-theme .card-resource__button:hover {
  background-color: #4bd8e0;
}
.card-resource.-mauve-theme .card-resource__header {
  background-color: #691940;
}
.card-resource.-mauve-theme .card-resource__button {
  background-color: #691940;
}
.card-resource.-mauve-theme .card-resource__button:hover {
  background-color: #922359;
}
.card-resource.-moyes-theme .card-resource__header {
  background-color: #a3d55d;
}
.card-resource.-moyes-theme .card-resource__button {
  background-color: #a3d55d;
}
.card-resource.-moyes-theme .card-resource__button:hover {
  background-color: #bae086;
}
.card-resource.-unigray-theme .card-resource__header {
  background-color: #575047;
}
.card-resource.-unigray-theme .card-resource__button {
  background-color: #575047;
}
.card-resource.-unigray-theme .card-resource__button:hover {
  background-color: #736a5e;
}
.card-resource.-wcpurp-theme .card-resource__header {
  background-color: #492365;
}
.card-resource.-wcpurp-theme .card-resource__button {
  background-color: #492365;
}
.card-resource.-wcpurp-theme .card-resource__button:hover {
  background-color: #64308b;
}
.card-resource.-wsumauve-theme .card-resource__header {
  background-color: #691940;
}
.card-resource.-wsumauve-theme .card-resource__button {
  background-color: #691940;
}
.card-resource.-wsumauve-theme .card-resource__button:hover {
  background-color: #922359;
}
.card-resource.-wsubrown-theme .card-resource__header {
  background-color: #84471e;
}
.card-resource.-wsubrown-theme .card-resource__button {
  background-color: #84471e;
}
.card-resource.-wsubrown-theme .card-resource__button:hover {
  background-color: #ae5d27;
}
.card-resource.-wsured-theme .card-resource__header {
  background-color: #a52428;
}
.card-resource.-wsured-theme .card-resource__button {
  background-color: #a52428;
}
.card-resource.-wsured-theme .card-resource__button:hover {
  background-color: #cf2d32;
}
.card-resource.-wsublue-theme .card-resource__header {
  background-color: #346094;
}
.card-resource.-wsublue-theme .card-resource__button {
  background-color: #346094;
}
.card-resource.-wsublue-theme .card-resource__button:hover {
  background-color: #4178ba;
}
.card-resource.-wsugreen-theme .card-resource__header {
  background-color: #005c49;
}
.card-resource.-wsugreen-theme .card-resource__button {
  background-color: #005c49;
}
.card-resource.-wsugreen-theme .card-resource__button:hover {
  background-color: #008f71;
}
.card-resource.-wsuwhite-theme .card-resource__header {
  background-color: white;
}
.card-resource.-wsuwhite-theme .card-resource__button {
  background-color: white;
}
.card-resource.-wsuwhite-theme .card-resource__button:hover {
  background-color: white;
}

/**
*** card-tiles
**/
.card-tile {
  padding: 50px;
  text-align: center;
  color: #FFF;
  min-height: 422px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.card-tile__header {
  margin-bottom: 20px;
}
.card-tile__title {
  color: #FFF !important;
  font-family: "tradegothicltcom-bdcn20" !important;
  font-size: 32px !important;
  margin-bottom: 20px;
}
.card-tile__link {
  color: #fff;
}
.card-tile__link:hover {
  color: #fff;
  font-weight: bold;
}
.card-tile__link:visited {
  color: #fff;
}

/**
*** featured content
**/
.featured-content {
  max-width: 850px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 5em 1em;
}
.featured-content__title {
  color: #FFF !important;
  font-family: "tradegothicltstd-boldext", sans-serif !important;
  font-size: 50px !important;
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .featured-content__title {
    font-size: 5vmin !important;
  }
}
@media only screen and (max-width: 480px) {
  .featured-content__title {
    font-size: 50px !important;
  }
}
.featured-content__subtitle {
  color: #FFF !important;
  font-size: 2em !important;
  margin: 0 0 1em 0 !important;
}
@media only screen and (max-width: 480px) {
  .featured-content__subtitle {
    font-size: 1.5em !important;
  }
}
.featured-content__copy {
  color: #FFF !important;
}
.featured-content--gray__title, .featured-content--gray__subtitle, .featured-content--gray__copy {
  color: #575047;
}

/**
color-background-box
**/
.color-background-box {
  width: 70%;
  max-width: 1500px;
  margin: 4em 0;
  padding: 4em;
}
@media only screen and (max-width: 768px) {
  .color-background-box {
    width: 90%;
    padding: 2em;
    margin: 2em 0;
  }
}

/**
*** text box
**/
.text-box.-white .text-box__title {
  color: #FFF;
  margin-bottom: 20px !important;
}
.text-box.-white .text-box__text {
  color: #FFF;
}
.text-box.-gray .text-box__title {
  color: #575047;
  margin-bottom: 20px !important;
}
.text-box.-gray .text-box__text {
  color: #575047;
}

/**
*** page-title-bar
**/
.page-title-bar {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 1.5em;
}
.page-title-bar__icon .vector {
  display: none;
  opacity: 0.2;
  width: 150px;
}
@media only screen and (min-width: 1025px) {
  .page-title-bar__icon .vector {
    display: block;
  }
}
@media only screen and (min-width: 1025px) {
  .page-title-bar__text-box {
    border-left: 1px solid #dddede;
  }
}

/**
*** feature-box
**/
.feature-box {
  margin-bottom: 2rem;
  padding-bottom: 6%;
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: stretch;
  justify-content: center;
}
.feature-box__header-image__image {
  width: 100%;
}
.feature-box__header-image__image:hover {
  opacity: 0.8;
}
.feature-box__title {
  background-color: #492365;
  padding: 10px;
  color: #fafafa !important;
  margin: 0;
  font-size: 1.5em;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
  width: 100%;
}
.feature-box__content {
  padding: 1.5em;
}
.feature-box__button {
  background-color: #492365;
  align-self: center;
}
.feature-box.-shadow {
  box-shadow: 0 0 10px 2px #ccc;
}
@media screen and (min-resolution: 192dpi) {
  .feature-box.-shadow {
    box-shadow: 0 0 10px 2px #eee;
  }
}
.feature-box--no-header .feature-box__header-image {
  display: none;
}
.feature-box--no-content {
  padding-bottom: 0;
}
.feature-box--no-content .feature-box__content, .feature-box--no-content .feature-box__button {
  display: none;
}

/** feature box themes **/
.feature-box.-cos-theme .feature-box__title {
  background-color: #f6b221;
}
.feature-box.-cos-theme .feature-box__button {
  background-color: #f6b221;
}
.feature-box.-cos-theme .feature-box__button:hover {
  background-color: #f8c352;
}
.feature-box.-csbs-theme .feature-box__title {
  background-color: #005f71;
}
.feature-box.-csbs-theme .feature-box__button {
  background-color: #005f71;
}
.feature-box.-csbs-theme .feature-box__button:hover {
  background-color: #008aa4;
}
.feature-box.-dumke-theme .feature-box__title {
  background-color: #099844;
}
.feature-box.-dumke-theme .feature-box__button {
  background-color: #099844;
}
.feature-box.-dumke-theme .feature-box__button:hover {
  background-color: #0cc85a;
}
.feature-box.-east-theme .feature-box__title {
  background-color: #d25d12;
}
.feature-box.-east-theme .feature-box__button {
  background-color: #d25d12;
}
.feature-box.-east-theme .feature-box__button:hover {
  background-color: #ed762a;
}
.feature-box.-godd-theme .feature-box__title {
  background-color: #483627;
}
.feature-box.-godd-theme .feature-box__button {
  background-color: #483627;
}
.feature-box.-godd-theme .feature-box__button:hover {
  background-color: #694f39;
}
.feature-box.-hlcolor-theme .feature-box__title {
  background-color: #8446ac;
}
.feature-box.-hlcolor-theme .feature-box__button {
  background-color: #8446ac;
}
.feature-box.-hlcolor-theme .feature-box__button:hover {
  background-color: #9c65c0;
}
.feature-box.-lind-theme .feature-box__title {
  background-color: #25cad3;
}
.feature-box.-lind-theme .feature-box__button {
  background-color: #25cad3;
}
.feature-box.-lind-theme .feature-box__button:hover {
  background-color: #4bd8e0;
}
.feature-box.-mauve-theme .feature-box__title {
  background-color: #691940;
}
.feature-box.-mauve-theme .feature-box__button {
  background-color: #691940;
}
.feature-box.-mauve-theme .feature-box__button:hover {
  background-color: #922359;
}
.feature-box.-moyes-theme .feature-box__title {
  background-color: #a3d55d;
}
.feature-box.-moyes-theme .feature-box__button {
  background-color: #a3d55d;
}
.feature-box.-moyes-theme .feature-box__button:hover {
  background-color: #bae086;
}
.feature-box.-unigray-theme .feature-box__title {
  background-color: #575047;
}
.feature-box.-unigray-theme .feature-box__button {
  background-color: #575047;
}
.feature-box.-unigray-theme .feature-box__button:hover {
  background-color: #736a5e;
}
.feature-box.-wcpurp-theme .feature-box__title {
  background-color: #492365;
}
.feature-box.-wcpurp-theme .feature-box__button {
  background-color: #492365;
}
.feature-box.-wcpurp-theme .feature-box__button:hover {
  background-color: #64308b;
}
.feature-box.-wsumauve-theme .feature-box__title {
  background-color: #691940;
}
.feature-box.-wsumauve-theme .feature-box__button {
  background-color: #691940;
}
.feature-box.-wsumauve-theme .feature-box__button:hover {
  background-color: #922359;
}
.feature-box.-wsubrown-theme .feature-box__title {
  background-color: #84471e;
}
.feature-box.-wsubrown-theme .feature-box__button {
  background-color: #84471e;
}
.feature-box.-wsubrown-theme .feature-box__button:hover {
  background-color: #ae5d27;
}
.feature-box.-wsured-theme .feature-box__title {
  background-color: #a52428;
}
.feature-box.-wsured-theme .feature-box__button {
  background-color: #a52428;
}
.feature-box.-wsured-theme .feature-box__button:hover {
  background-color: #cf2d32;
}
.feature-box.-wsublue-theme .feature-box__title {
  background-color: #346094;
}
.feature-box.-wsublue-theme .feature-box__button {
  background-color: #346094;
}
.feature-box.-wsublue-theme .feature-box__button:hover {
  background-color: #4178ba;
}
.feature-box.-wsugreen-theme .feature-box__title {
  background-color: #005c49;
}
.feature-box.-wsugreen-theme .feature-box__button {
  background-color: #005c49;
}
.feature-box.-wsugreen-theme .feature-box__button:hover {
  background-color: #008f71;
}
.feature-box.-wsuwhite-theme .feature-box__title {
  background-color: white;
}
.feature-box.-wsuwhite-theme .feature-box__button {
  background-color: white;
}
.feature-box.-wsuwhite-theme .feature-box__button:hover {
  background-color: white;
}

/**
*** page-title-space
**/
.page-title-space {
  padding: 25px 0 35px;
}
.page-title-space h2.page-title-space__sub-title {
  color: #492365 !important;
  font-family: "tradegothicltstd-boldext", sans-serif !important;
  margin: 1em !important;
  text-align: center;
  font-size: 2rem !important;
}
.page-title-space__text {
  text-align: center;
  font-size: 1.3em;
}
@media only screen and (max-width: 640px) {
  .page-title-space__text {
    font-size: 1.1em;
  }
}

.responsive-image__picture-element__image {
  width: 100%;
}

/**
*** align content within container
**/
.-center-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.-left-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
}
@media only screen and (max-width: 768px) {
  .-left-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.-right-content {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}
@media only screen and (max-width: 768px) {
  .-right-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }
}

.-center-all-column {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.-shadow {
  box-shadow: 0 0 10px 2px #ccc;
}
@media screen and (min-resolution: 192dpi) {
  .-shadow {
    box-shadow: 0 0 10px 2px #eee;
  }
}

.-is-hidden {
  display: none;
}

/*# sourceMappingURL=ui-mod-base.css.map */
