.banner {
  @include flex-column(center, center);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;

  &__text-wrap {
	h1, h2, p, img, button {
	  color: #FFF;
	}
  }
}