/** banners **/
.banner {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  //padding: 5em 1em;
  &--center-content {
    @include flex-row(center, center);
  }
  &--left-content {
    @include flex-row(center, flex-start);
    @media #{$target-tablet} {
      @include flex-row(center, center);
    }
  }
  &--right-content {
    @include flex-row(center, flex-end);
    @media #{$target-tablet} {
      @include flex-row(center, center);
    }
  }
}
