/**
*** cards ***
**/
.card-module {
  background-color: #FFF;
  margin-bottom: 16px;
  padding-bottom: 6%;
  @include flex-column(center, center);
  &__header {
	@include flex-row(center, center);
	padding: 24px;
	background-color: wsu-palette($wcpurp-colors, 1);
	width: 100%;
	&--bg-image {
	  background-color: inherit;
	  @include bg-img-placement(center, center);
	}
  }
  &__content {
	@include flex-column(start, start);
	padding: 8% 6% 6%;
  }
  &__title {
	&.title-override {
	  font-size: $title-medium;
	  margin-bottom: 16px;
	}
	&--underlined {
	  border-bottom: 1px solid #cfcfcf;
	  padding-bottom: 10px;
	  width: 100%;
	}
  }
  &__button {
	display: block;
	background-color: wsu-palette($wcpurp-colors, 1);
  }
  &--centered {
	.card-module__content {
	  @include flex-column(center, start);
	  text-align: center;
	}
  }
}

/**
*** card-module themes
**/
.card-module {
  @include card-module-themes();
}