.card-bio {
  background-color: #fff;
  margin-bottom: 30px;
  &__header {
	padding: 1.5em 0 1.5em 1.5em !important; //overwrites foundation
	@media #{$target-large-phone} {
	  padding: 0 !important;
  	}
  }
  &__title {
	&.title-override {
	  font-size: $title-medium;
	}
  }
  &__subtitle {
	font-family: 'caecilialtstd-heavy', serif;
	text-transform: uppercase;
  }
  &__link {
	display: block;
	margin-bottom: 10px;
  }
  &__content {
	padding: 1.5em 3% 1em !important; //overwrites foundation
  }
}