/**
*** card-tiles
**/
.card-tile {
  padding: 50px;
  text-align: center;
  color: $white-text;
  min-height: 422px;
  @include bg-img-placement(center, center);
  @include flex-column(center, start);
  &--solid {
	//add color theme bg class
  }
  &--image {
	//@include bg-interchange-retina in build file
  }
  &__header {
	margin-bottom: 20px;
  }
  &__title {
	&.title-override {
	  color: $white-text;
	  font-family: 'tradegothicltcom-bdcn20';
	  font-size: $title-large;
	  margin-bottom: 20px;
	}
  }
  &__link {
	color: $white-text;
	&:hover {
	  color: $white-text;
	  font-weight: bold;
	}
	&:visited {
	  color: $white-text;
	}
  }
}