/**
** card-advisor
**/
.card-advisor {
  margin-bottom: 2rem;
  padding-bottom: 6%;
  background-color: #f3f3f3;
  @include flex-column(stretch, center);

  &__title {
	&.title-override {
	  // use theme class on block to change color
	  background-color: wsu-palette($wcpurp-colors, 1);
	  padding: 10px;
	  color: $off-white-text;
	  margin: 0;
	  font-size: $title-medium;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  overflow: hidden;
	  width: 100%;
	}
  }

  &__content {
	padding: 1.5em;
  }

  &__button {
	// use theme class on block to change color
	background-color: wsu-palette($wcpurp-colors, 1);
	align-self: center;
  }

  &.-shadow {
	box-shadow: $shadow-lo-res;
	@media screen and (min-resolution: 192dpi) {
	  box-shadow: $shadow-hi-res;
	}
  }

  &--no-header {
	.card-advisor__header-image {
	  display: none;
	}
  }
}

/**
*** card-advisor themes
**/
.card-advisor {
  @include feature-box-themes();
}