.card-advisor {
  margin-bottom: 2rem;
  padding-bottom: 6%;
  background-color: #f3f3f3;
  @include flex-column(stretch, center);

  &__title {
	// use theme class on block to change color
	background-color: #492365;
	padding: 10px;
	color: #fafafa !important;
	margin: 0;
	font-size: 1.5em;
	white-space: nowrap;
	text-overflow: ellipsis;
	overflow: hidden;
	width: 100%;
  }

  &__content {
	padding: 1.5em;
  }

  &__button {
	// use theme class on block to change color
	background-color: #492365;
	align-self: center;
  }

  &.-shadow {
	box-shadow: 0 0 10px 2px #ccc;
	@media screen and (min-resolution: 192dpi) {
	  box-shadow: 0 0 10px 2px #eee;
	}
  }

  &--no-header {
	.card-advisor__header-image {
	  display: none;
	}
  }
}

.card-advisor {
  @include feature-box-themes();
}