.card-personnel {
  margin-bottom: 2rem;
  padding-bottom: 6%;
  background-color: #f3f3f3;
  @include flex-column(stretch, center);

  &__title {
	&.title-override {
	  // use theme class on block to change color
	  background-color: #492365;
	  padding: 10px;
	  color: #fafafa;
	  margin: 0;
	  font-size: $title-medium;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  overflow: hidden;
	  width: 100%;
	}
  }

  &__content {
	padding: 1.5em;
  }

  &--no-header {
	.feature-box__header-image {
	  display: none;
	}
  }
}

.card-personnel {
  @include feature-box-themes();
}