/**
*** card overlay ***
**/
.card-overlay {
  margin-bottom: 16px;
  //padding-bottom: 6%;
  @include flex-column(center, center);
  &__header {
	@include flex-row(center, center);
	padding: 24px;
	width: 100%;
  }
  &__content {
	@include flex-column(center, center);
	//padding: 8% 6% 6%;
	color: $white-text;
	max-width: 340px;
	margin: 0 auto 20px;
	font-family: tradegothiclt, sans-serif;
	font-size: 1.2em;
	text-align: center;
  }
  &__title {
	&.title-override {
	  font-size: $title-large;
	  margin-bottom: 16px;
	  color: #fff;
	}
	&--underlined {
	  border-bottom: 1px solid $white-text;
	  padding-bottom: 10px;
	  width: 100%;
	}
  }
  &__button {
	display: block;
	background-color: wsu-palette($wcpurp-colors, 1);
	padding: 23px;
	font-size: 20px;
	font-family: 'tradegothiclt-bold', sans-serif;
	margin: 30px 0;
  }
  &--centered {
	.card-module__content {
	  @include flex-column(center, start);
	  text-align: center;
	}
  }
}

/**
*** card-overlay themes
**/
.card-overlay {
  @include card-overlay-themes();
}
