/**
color-background-box
**/
// a box with a semi-transparent background
// that encloses white text or other content
//
.color-background-box {
  width: 70%;
  max-width: 1500px;
  margin: 4em 0;
  padding: 4em;
  @media #{$target-tablet} {
    width: 90%;
    padding: 2em;
    margin: 2em 0;
  }
}