/**
*** feature-box
**/
.feature-box {
  margin-bottom: 2rem;
  padding-bottom: 6%;
  background-color: #FFF;
  @include flex-column(stretch, center);

  &__header-image__image {
	width: 100%;
	&:hover {
	  opacity: 0.8;
	}
  }

  &__title {
	&.title-override {
	  // use theme class on block to change color
	  background-color: #492365 !important;
	  padding: 10px !important;
	  color: #fafafa;
	  margin: 0;
	  font-size: $title-medium;
	  white-space: nowrap;
	  text-overflow: ellipsis;
	  overflow: hidden;
	  width: 100%;
	}
  }

  &__content {
	padding: 1.5em;
  }

  &__subtitle {
	&.title-override {
	  font-size: $title-small;
	}
  }

  &__button {
	// use theme class on block to change color
	background-color: #492365;
	align-self: center;
  }

  &.-shadow {
	box-shadow: 0 0 10px 2px #ccc;
	@media screen and (min-resolution: 192dpi) {
	  box-shadow: 0 0 10px 2px #eee;
	}
  }
  &.-no-content {
	padding-bottom: 0;
	.feature-box__content, .feature-box__button {
	  display: none;
	}
  }
  &.-no-header {
	.feature-box__header-image {
	  display: none;
	}
  }
}
/*
  &--no-header {
	.feature-box__header-image {
	  display: none;
	}
  }

  &--no-content {
	padding-bottom: 0;
	.feature-box__content, .feature-box__button {
	  display: none;
	}
  }
*/

/**
*** feature box themes
**/
.feature-box {
  @include feature-box-themes();
}

/**
*** feature-box-alt
**/
.feature-box-alt {
  &__title {
	&.title-override {
	  color: #492365 !important;
	  border-bottom: 3px solid #492365 !important;
	  margin-bottom: 10px !important;
	}
  }
  &__content {
	padding: .5rem 0;
  }
}

/**
*** feature box alt themes
**/
.feature-box-alt {
  @include feature-box-alt-themes();
}