/**
*** featured content
**/
//
// a content box used as an overlay on a image or color background
//
.featured-content {
  max-width: 850px;
  @include flex-column(center, center);
  text-align: center;
  padding: 5em 1em;

  &__title {
    color: $white-title-override;
    font-family: $font-tgbe !important;
    //margin: 0 0 .5em 0; can't override wsu-main-styles
    font-size: 50px !important;
    @media #{$target-tablet-range} {
      font-size: 5vmin !important;
    }
    @media #{$target-phone} {
      font-size: 50px !important;
    }
  }

  &__subtitle {
    color: $white-title-override;
    font-size: 2em !important;
    margin: 0 0 1em 0 !important;
    @media #{$target-phone} {
      font-size: 1.5em !important;
    }
  }

  &__copy {
    color: #FFF !important;
  }
}