/**
*** feature-box
**/
.feature-box {
  margin-bottom: 2rem;
  background-color: #FFF;
  @include flex-column(stretch, center);

  &__header-image__image {
	width: 100%;
	&:hover {
	  opacity: 0.8;
	}
  }

  &__title {
	// use theme class on block to change color
	background-color: #492365;
	padding: 10px;
	color: #fafafa !important;
	margin: 0;
	font-size: 1.5em;
	white-space: nowrap;
	text-overflow: ellipsis;
  	overflow: hidden;
	width: 100%;
  }

  &__content {
	padding: 1.5em;
  }

  &__button {
	// use theme class on block to change color
	background-color: #492365;
	align-self: center;
  }

  &.-shadow {
	box-shadow: 0 0 10px 2px #ccc;
	@media screen and (min-resolution: 192dpi) {
	  box-shadow: 0 0 10px 2px #eee;
	}
  }

  &--no-header {
	.feature-box__header-image {
	  display: none;
	}
  }

  &--no-content {
	.feature-box__content, .feature-box__button {
	  display: none;
	}
  }
}

/** feature box themes **/
.feature-box {
  @include feature-box-themes;
}