.featured-content {
  max-width: 1000px;
}
.featured-content__title {
  color: #FFF;
}
.featured-content__subtitle {
  color: #FFF;
}
.featured-content__copy {
  color: #FFF;
}
.featured-content__svg-image {

}
.featured-content__button {

}