.featured-content {
  max-width: 1000px;
}
.featured-content__title {
  color: #FFF !important;
  font-family: 'tradegothicltstd-boldext', sans-serif;
}
.featured-content__subtitle {
  color: #FFF !important;
}
.featured-content__copy {
  color: #FFF !important;
}
.featured-content__svg-image {

}
.featured-content__button {

}