.how-to {
  &--basic {
	&__section {
	  padding: 2em;
	}
	&__icon {
	  margin-bottom: 20px;
	}
	&__title {
	  &.title-override {
		color: #fff;
		margin-left: 16.66667% !important;
		padding-left: .9375rem !important;
	  }
	}
  }
}

.how-to--basic {
  @include how-to--basic-themes();
}