/**
*** page-title-shadow
**/
.page-title-shadow {
  padding: 35px 0;
  box-shadow: 0 6px 18px 4px rgba(129, 118, 129, .7);
  //title uses .page-title global style
  &__text {
	text-align: center;
  }
}