/**
*** page-title-bar
**/
.page-title-bar {
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  box-shadow: inset 0 5px 10px 0 rgba(0, 0, 0, 0.3);
  padding: 1.5em;

  &__icon {
	.vector {
	  display: none;
	  opacity: 0.2;
	  width: 150px;
	  @media #{$target-laptop-over} {
		display: block;
	  }
	}
  }

  &__text-box {
	@media #{$target-laptop-over} {
	  border-left: 1px solid #dddede;
	}
  }
}
