/**
*** page-title-space
**/
.page-title-space {
  padding: 25px 0 35px;
  //title uses .page-title global style
  &__sub-title {
	&.title-override {
	  color: wsu-palette($wcpurp-colors, 1);
	  font-family: "tradegothicltstd-boldext", sans-serif;
	  margin: 1em !important;
	  text-align: center;
	  font-size: 2rem;
	}
  }
  &__text {
	text-align: center;
	font-size: 1.3em;
	@media #{$target-large-phone} {
	  font-size: 1.1em;
	}
  }
}