/**
*** text box
**/
.text-box {
  //padding: 4em;
  &.-white, &--white {
	.text-box__title {
	  color: $white-text;
	  margin-bottom: 20px !important;
	  &--underline {
		border-bottom: 1px solid $white-text;
	  }
	}
	.text-box__text {
	  color: $white-text;
	}
  }
  &.-gray, &--gray {
	.text-box__title {
	  color: $gray-text;
	  margin-bottom: 20px !important;
	  &--underline {
		border-bottom: 1px solid $gray-text;
	  }
	}
	.text-box__text {
	  color: $gray-text;
	}
  }
}