/*wcpurp*/
.button.color-1 {
    background: #492365; }
.button.color-1:hover {
    background: #64308b; }

/*unigray*/
.button.color-2 {
    background: #575047; }
.button.color-2:hover {
    background: #736a5e; }

.button.color-3 {
    background: #7f56c5; }
.button.color-3:hover {
    background: #9c7cd2; }

/*hlcolor*/
.button.color-4 {
    background: #8446ac; }
.button.color-4:hover {
    background: #9c65c0; }

.button.color-5 {
    background: #a391b1; }
.button.color-5:hover {
    background: #bcafc6; }

.button.color-6 {
    background: #aa989c; }
.button.color-6:hover {
    background: #c1b4b7; }

/*moyes*/
.button.color-7 {
    background: #a3d55d; }
.button.color-7:hover {
    background: #bae086; }

/*dumke*/
.button.color-8 {
    background: #009844; }
.button.color-8:hover {
    background: #00cb5b; }

/*wsugreen*/
.button.color-9 {
    background: #005c49; }
.button.color-9:hover {
    background: #008f71; }

/*lind*/
.button.color-10 {
    background: #25cad3; }
.button.color-10:hover {
    background: #4bd8e0; }

/*csbs*/
.button.color-11 {
    background: #005f71; }
.button.color-11:hover {
    background: #008aa4; }

/*wsublue*/
.button.color-12 {
    background: #346094; }
.button.color-12:hover {
    background: #4178ba; }

/*wsumauve*/
.button.color-13 {
    background: #691940; }
.button.color-13:hover {
    background: #922359; }

/*wsured*/
.button.color-14 {
    background: #a52428; }
.button.color-14:hover {
    background: #cf2d32; }

/*east*/
.button.color-15 {
    background: #d25d12; }
.button.color-15:hover {
    background: #ed762a; }

/*cos*/
.button.color-16 {
    background: #f6b221; }
.button.color-16:hover {
    background: #f8c352; }

/*wsubrown*/
.button.color-17 {
    background: #84471e; }
.button.color-17:hover {
    background: #ae5d27; }

/*godd*/
.button.color-18 {
    background: #483627; }
.button.color-18:hover {
    background: #694f39; }